:root {
  --color-primary: #F2AA34;
  --color-secondary: #8A5A2A;
  --color-bg: #1A120D;
  --color-text: #F4D38B;
  --color-text-light: #FFFFFF;
  --color-panel: #2B190D;
  --color-panel-dark: #160F0A;
  --color-success: #62E34A;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 26px;
}
